[Unit]
Description=Start Kiosk Mode
After=network.target

[Service]
ExecStart=/home/pi/smart-home-display/systemd-service/start-kiosk.sh
ExecStop=/home/pi/smart-home-display/systemd-service/stop-kiosk.sh
Restart=always
User=pi
Environment=DISPLAY=:0

[Install]
WantedBy=default.target